.contact-border{
  /*width: 850px;*/
  width: 79%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0px 10px 60px 10px;
  height: auto;
  margin-top:10px;
}

.map-size{
}

.map-size1{
  display: block;
}

.map-size2{
  display: none;
}

.contact-info{
  text-align: center;
  color: white;
  padding-left: 30px;
}

.check{
  border: 1px solid red;  
}



  




@media(max-width: 768px) {
  
.map-size1{
  display: none;
}

.map-size2{
  display: block;
}

.contact-border{
width: 87%;
}

}