.event-info {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}


.pointer-on-hover {
 cursor:pointer;
}

.tapcontent {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}



.modal-title{
	font-size: 50px;
}

.modal-body{
	text-align: justify;
}

.event-main-logo{
  width: 190px;
  height: 190px;
}


.modal-content { 
   background-color: rgba(0, 0, 0, 0.75); !important; 
   color: white;
   font-family: 'Raleway', sans-serif;
   border-radius: 0px;
}

.back-button {
    font-size: 22px;
    /*text-transform: uppercase;*/
    color: #000;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 3px solid white;
    -webkit-transition: background-color .2s, color .2s; /* Safari */
    transition: background-color .2s, color .2s;
  }

  .back-button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    
  }

.back-button::active {
    color: #000;
    background-color: white;
}

.close-button {
    font-size: 15px;
    /*text-transform: uppercase;*/
    color: #000;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 3px solid white;
    -webkit-transition: background-color .2s, color .2s; /* Safari */
    transition: background-color .2s, color .2s;    
    cursor:pointer;
    font-weight: bold;
  }

  .close-button:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    
  }

.close-button::active {
    color: #000;
    background-color: white;
}

table{
  display: none;
}


@media(max-width: 1160px) {
  .events-tab{
    width:95%;
  }
}



/*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*/