.event-info {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}


.pointer-on-hover {
 cursor:pointer;
}

.tapcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



.modal-title{
	font-size: 50px;
}

.modal-body{
	text-align: justify;
}