.navbar {
   background-color: #151f20;
   position: fixed;
  overflow:hidden;
   border-color: transparent;
   z-index:10;
}

.force-color {
    color: #FFF;
    z-index: 5;
}



.navbar li { 
  color: #000;
  background-color: #151f20; 
}


.force-color-2{
  background-color: #151f20;
}

.navbar-nav li a {

  line-height: 40px;
  height: 40px;
  padding: 0px;
  margin: 10px;
}

.navbar-brand {
  font-family: TitleFont;
  /*font-family: 'Aclonica', sans-serif;*/
  border: 0px solid blue;
  padding: 0px auto;
  margin: 5px auto;
  color: white;
  font-size: 30px;
}



.navbar-border {}

.navbar-nav-main {
  margin-left: auto;
  margin-right: auto;
}

.prevent{
  overflow:hidden;
}

.wheel{
  margin-top: -65px;
  z-index: -1;
}

.navbar-check {}

.navbar img
{
  position: absolute;
  -webkit-animation-name: rotate; 
    -webkit-animation-duration: 90s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}




@media(max-width: 768px) {

.navbar-nav li a {
  padding: 30px;
  margin: 0px;
  /*line-height: 80px;*/
  height: 40px;
}

.navbar-nav {
  margin-top: -10px;
}

.navbar-collapse {
  min-height: 100% !important;
  max-height: 750px !important;
  
  /*overflow-x: visible;
  
  -webkit-overflow-scrolling: touch;*/
}

.navbar-collapse.in {
  overflow-y: auto;
}


}

/*@media (max-width: 865px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}*/