.sched{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 
}

.sched th, td {
    padding: 15px;
    text-align: left;
}

.striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgba(0,0,0, 0.3) !important;
}


div.xtab span.active {
    font-weight: 900;

}

div.xtab :hover {
cursor: pointer;
}

.xtabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media(max-width: 768px) {
.sched{
  width: 95%;
  font-size: 12px;
}
.sched th, td {
    padding: 8px;
}

}